


.navbar{
    font-family:"Roboto",sans-serif;
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:11vh;
    background-color:black;
    border-bottom:1px solid white;
}

.navbar a{
    text-decoration:none;
    margin-left:1rem;
    color:white;
}
.navbar ul{
    display:flex;
    align-items:center;
    justify-content: center;
}

.navbar ul li{
    list-style: none;

}

.navbar ul li a {
    text-decoration: none;
    padding:0 12px;
    color:white;
}

.navbar ul li span{
    padding:0 12px;
}

.navbar span{
    color:white;
}

.navbar ul li button{
   
    margin-right:1rem;
}